* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, darkcyan, lightgreen);
  user-select: none;
}
.container {
  background: #ffffff30;
  backdrop-filter: blur(30px);
  padding: 30px;
  min-width: 300px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 4px 4px 10px #0002;
}

.title {
  font-size: 3rem;
  color: whitesmoke;
  text-transform: uppercase;

  span:first-of-type {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
}

.turn-indicator {
  background: #fff;
  padding: 5px 20px;
  border: 0;
  border-radius: 50px;
  margin-bottom: 1rem;
  display: inline-block;
  color: darkcyan;
}
.ttt_container {
  position: relative;
}
.btn_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.btn_container .btn {
  width: 90px;
  height: 90px;
  font-size: 3rem;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px black;
  cursor: pointer;
  background: #f0f0f0;
  border-radius: 4px;
  border: 1px solid rgba(0, 255, 179, 0.235);
  box-shadow: 4px 4px 4px rgba(12, 12, 12, 0.194);
}
.resetBtn {
  color: darkcyan;
  width: 100%;
  margin: 1rem 0;
  padding: 10px;
  font-weight: bolder;
  text-transform: uppercase;
  box-shadow: 4px 4px 4px rgba(12, 12, 12, 0.194);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(0, 255, 179, 0.235);
}
.mssg {
  opacity: 0;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  span {
    font-size: 1.5rem;
  }
}
.mssg.show-win {
  opacity: 1;
  span {
    color: green;
    background: #ffffffec;
    padding: 0 10px;
    border-radius: 5px;
  }
}
.mssg.show-draw {
  opacity: 1;
  span {
    color: red;
  }
}

.line {
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: red;
  box-shadow: 0 0 4px red;
  width: 100%;
  transition: 0.4s;
  border-radius: 50px;
  border: 0;
}
#copyRight {
  margin-top: 0.4rem;
  color: rgba(127, 255, 212, 0.401);
}
